**/*.profile
test7800
test7800.exe
out
examples/roms/*
*.bin
!examples/*.bin
!hardware/arm/bintest/**/*.bin
!hardware/arm/bintest/**/*.lst
go.work*
roms
roms/*
!hardware/cpu/klaus2m5/**/*.lst
!hardware/cpu/klaus2m5/**/*.bin
.test7800
portable.txt
Test7800_UserData
