**/*.profile
test7800
test7800.exe
out
examples/roms/*
*.bin
!examples/*.bin
!hardware/arm/bintest/**/*.bin
!hardware/arm/bintest/**/*.lst
!hardware/memory/external/hsc/*.bin
go.work*
roms
roms/*
!hardware/cpu/tests/klaus2m5/**/*.lst
!hardware/cpu/tests/klaus2m5/**/*.bin
hardware/cpu/tests/thomharte/**/*.json
.test7800
portable.txt
Test7800_UserData
test7800_linux_amd64
test7800_windows_amd64.exe
wasm/www/test7800.wasm
*.asm
